body{
	margin: 0;
	font-family: Ariel;
    color: #fff;
	font-size: 1.1em;
	line-height: 1.5;
    text-align: center;

}

html { 
    background: url(img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
#sitegrid {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 5em;
    margin: 5em;
    text-shadow: rgba(0, 0, 0, 0.486);
    
}

.sitecardimg img {
	display: inline-block;
    width: 80%;
    height: auto;
    align-items: center;
    padding: 2em;
        
}
  

.sitecardimg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, 0.438);
    
}

.sitecardimg:hover{
	background: #eaeaea;
	color: black;
}

footer{
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.486);
    margin-bottom: 0px;
    text-align: right;
    padding-right: 1em;
}
    
@media(min-width: 700px) {

    #sitegrid {
        display: grid;
        grid-template-columns: 1fr 1fr;

}