@font-face {
    font-family: shinmgopro;
    src: url(SHINMGOPRO-BOLD-140012.OTF);
  }
  ul {
    list-style-type: none;
    font-size: 2em;
    margin: 0;
    padding: 2em;
  }
  
.navbar {
    font-family: shinmgopro;
    display: block;
    overflow: hidden;
    font-size: 2em;
    background-color: #7bbdd7;
    position: fixed;
    width: 100%;
    height: auto;
    text-align: center;
   
}

.navbar > * {
    margin: 0 1em;
}

body{
    font-family: shinmgopro;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    background: #ffffff;
    background-image: url(img/Kuplogo.png), linear-gradient(#fff,#e6782d);
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, center;
	color: #000000;
	font-size: 1.1em;
	line-height: 1.5;
    text-align: center;
    width: auto;
    height: 100%;
    margin: 0;
   
}

html{
    height: 100%;
}

.grid-item:hover {
	filter: brightness(85%);
}

.grid-container-body {

height:100% ;
display: inline-flex;
justify-content: center;
align-items: center;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1em;
margin-top: 2em;

}

.grid-item {
    padding: 2em 2em;
    border: 1px solid rgb(255, 255, 255);
    margin: 1em;
   
}

#red_box {
    background: #da0d0d;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blue_box {
    background: #0b57e4;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#yellow_box {
    background: #f4f71e;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container-bot {

    display: inline-flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    padding: 1em;
}

.grid-item-bot {
    display: inline-flex;
    padding: 1em;
    border: 1px solid rgb(255, 255, 255);
    margin: 1em ;
    text-align: center;
    background: #ffffff7a;
    font-size: 2em;
    justify-content: center;
    align-items: center;

}

.grid-item-bot:hover {
	filter: brightness(85%);
}

footer {
    position: fixed;
    right: 0;bottom:0;left:0;
    padding-bottom: 1em;
  }
